<% include partials/header %>
<h1>This is the home page!</h1>

<img src="http://www.traveller.com.au/content/dam/images/g/u/n/q/h/0/image.related.articleLeadwide.620x349.gunpvd.png/1488330286332.png">

<% include partials/footer %>